*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
header {
    padding: 40px;
    text-align: left;
    background: #13293d;
    color: #fff;
  }
  nav {
    display: flex;
    background-color: #d8a47f;
  }
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  main {
    display: flex;
    flex-wrap: wrap;
  }
  section{
    display: flex;
    width: 100%;
  }
  aside {
    background-color: #b9c6ae;
    padding: 80px;
    text-align: left;
    width: 20%;
  }
  footer {
    position: absolute;
    text-align: center;
    background: #13293d;
    color: #fff;
    width: 100%;
    bottom: 0;
  }